{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

{% include 'headtag.html' %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        {% include 'recruiter_navigation.html' %}
        <!-- Navbar End -->

        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Jobseekers</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item "><a href="{% url 'recruiter_home' %}">Home</a></li>
                        <li class="breadcrumb-item "><a href="">Pages</a></li>
                        <li class="breadcrumb-item text-white active " aria-current="page">Jobseekers</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->

         
        
        <!-- users Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Applied Jobseekers</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    
                    <div class="tab-content">
                        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;" >
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-8" style="margin-left: 150px;">
                        <div class="row g-2">
                            <div class="col-md-10" >
                                <input type="text" class="form-control border-0" placeholder="Search" id="myInput" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Search End -->
                        <div id="myDIV" class="tab-pane fade show p-0 active">
                            
                            {% for i in data %}
                            
                            <div class="job-item p-4 mb-4" id="mydiv1">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="{{i.student.image.url}}" alt="" width="80px" height="80px" >
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{i.job.title}}</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-user-tie text-primary me-2"></i>{{i.student.user.first_name}} {{i.student.user.last_name}}</span>
                                            <span class="text-truncate me-3"><i class="fa fa-envelope text-primary me-2"></i>{{i.student.user.username}}</span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{i.applydate}}</span>
                                            <span class="text-truncate me-0"><i class="fa fa-phone-alt text-primary me-2"></i>{{i.student.mobile}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{{i.resume.url}}" style="margin-right: 10px;">Download Resume</a>
                                           
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            
                            
                            
                        </div>
                        
                        

                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->

        <!-- Footer Start -->
        {% include 'recruiter_footer.html' %}
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    {% include 'javascriptlibraries.html' %}
</body>
</html>
{% endblock %}