{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'headtag.html' %}

{% include 'user_navigation.html' %}

<body>
    <div class="container-xxl bg-white p-0">
        
       

       

        
        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">job applied successfully</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user_latestjobs' %}">Joblist</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">job applied successfully</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->

        
                <div style="margin:50px">
                <a class="btn btn-primary py-3 px-5" href="{% url 'user_latestjobs' %}">Browse More Jobs</a>
                </div>
        
</div>
</html>

