{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Guragejobs|change password</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">
    
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
        
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
<body>
        <div class="container-xxl bg-white p-0">
            

            <script>
                function checkpass(){
                    if (document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
                        alert("new password and confirm password not matched");
                        return false;
                    }
                    return true;
                }
            </script>
{% include 'admin_navigation.html' %}
        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="" style="margin-left:300px;background:white;width:500px;height:300px;text-align:center">
                <h4 class="mb-4" style="margin-left:50px">Change Password</h4>
                <form action="" method="post" style="margin:20px" name="changepassword" onsubmit="return checkpass();">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12 ">
                            <input type="password" class="form-control" placeholder="current password" name="currentpassword" >
                        </div>
                        <div class="col-12 ">
                            <input type="password" class="form-control" placeholder="new password" name="newpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        </div>
                        <div class="col-12 ">
                            <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword">
                        </div>
                        
                            <input class="btn btn-primary " style="width:200px" type="submit" value="submit">
                            
                        </div>
                    
                </form>
            </div>
        </div>
        <!-- Header End -->


         <!-- Footer Start -->
         {% include 'admin_footer.html' %}
         <!-- Footer End -->
 
 
         <!-- Back to Top -->
         <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
     </div>
 
     <!-- JavaScript Libraries -->
     {% include 'javascriptlibraries.html' %}
</body>
</html>
{% ifequal error "no" %}
<script>
    alert("password changed successfully");
    window.location=('{% url 'Logout' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("something went wrong,try again");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("current password is wrong");
</script>
{% endifequal %}

{% endblock %}