{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

    {% include 'headtag.html' %}

    

    <body>

        
        <div class="container-xxl bg-white p-0" style="margin-left: 20px;">
            <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
            <!-- Navbar Start -->
    {% include 'recruiter_navigation.html' %}
    <!-- Navbar End -->
            <!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Home </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Companies</a></li>
                <li class="breadcrumb-item"><a href="{% url 'user_latestjobs' %}">Jobseekers</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
            <div class="row">
                <div class="col-sm-8">
    
    <form action="" method="post" class=" mt-5" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >First Name</label>
                <input type="text" class="form-control" name="fname" value="{{recruiter.user.first_name}}" required>
            </div>
            <div class="form-group col-md-6">
                <label >Last Name</label>
                <input type="text" class="form-control" name="lname" value="{{recruiter.user.last_name}}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >contact</label>
                <input type="text" class="form-control" name="contact" value="{{recruiter.mobile}}" required>
            </div>
            <div class="form-group col-md-6">
                <label >company</label>
                <input type="text" class="form-control" name="company" value="{{recruiter.company}}" readonly required>
            </div>
            <div class="form-group col-md-6">
                <label >company detail</label>
                <textarea class="form-control" name="detail"  readonly required>{{recruiter.company_detail}}</textarea>
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label >Email ID</label>
                    <input type="text" class="form-control" name="email" value="{{recruiter.user.username}}" readonly required>
                </div>
                </div>
                <div class="form-row">
                   <div class="form-group col-md-12">
                        <label >Gender</label>
                        {% if recruiter.gender == "male" %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRaddioInline1" name="gender" class="custom-control-input" value="male" checked required>
                            <label for="customRaddioInline1" class="custom-control-label">Male</label>
                            <input type="radio" id="customRaddioInline2" name="gender" class="custom-control-input" value="female" required>
                            <label for="customRaddioInline2" class="custom-control-label">Female</label>
                        </div>
                        {% else %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRaddioInline1" name="gender" class="custom-control-input" value="male" required>
                            <label for="customRaddioInline1" class="custom-control-label">Male</label>
                            <input type="radio" id="customRaddioInline2" name="gender" class="custom-control-input" value="female" checked required>
                            <label for="customRaddioInline2" class="custom-control-label">Female</label>
                        </div>
                        {% endif %}
                           
                        
                        
                    </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image" style="margin-bottom: 10px;">
                    </div>
                </div>
                
                
                
                
                <input type="submit" class="btn btn-primary" width="200px" value="submit" style="margin-bottom: 20px;">
        </form>
        
    </div>   <!--coumn1 end-->
    
    <div class="col-sm-4 mt-5 text-center">
    <img src="{{recruiter.image.url}}" width="300px" height="300px">
    </div>
    
    </div>
        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    {% include 'javascriptlibraries.html' %}
       
            
        </body>
</html>
{% endblock %}