{% extends 'partials/base.html' %}
{% block title %}Reset your Password{% endblock %}
{% block content %}
<h1>Reset your password?<h1/>
    {% if validlink %}
    <p>please enter your password twice</p>
    <form action ="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change my password" /></p>
    </form>
    <p>The password reset link was invalid .possibly it has already been used.please request another password reset</p>
    {% endif %}
    {% endblock %}